@charset "UTF-8";

body {
	background-color: #fff5e5;
	font-family: monospace;
}

footer {
	background-color: #006400;
	font-family: monospace;
	color: #f2f2f2;
	padding: 1em;
}

footer small {
	color: #f2f2f2;
}

pre {
	color: black;
	border-color: lightgray;
	background-color: lightgray;
	line-height: 1;
	white-space: nowrap;
	overflow-x: scroll; 
}

.card-block {
	background-color: lightgray;
}

.card-block > pre > p,
.card-block > pre > h4 {
	margin-left: 10px;
	margin-right: 10px;
}

.carousel-inner img{
	margin: auto;
}

.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
	margin: auto;
}

.dropdown-menu {
	width: 100%;
	background-color: #fff5e5;
	border: black;
}

/*tags*/
#centered {
	text-align: center;
}

#sortbtn {
	background-color: #006400;
	border-color: #009900;
	width: 100%;
}

#bookcoverimg {
	/*padding: 1em;*/
	/*width: 300px;*/
	min-width: 200px;
	/*height: 450px;*/
	min-height: 300px;
	margin-left: auto;
	margin-right: auto;
	padding-top: 20px;
}

#frontpageimg {
	width: 100px;
	min-width: 100px;
	height: 150px;
	min-height: 150px;
}

#cardbottom {
	padding-bottom: 10px;
}

#techreport {
	background-color: lightgray;
}

#techreport > h2 {
	font-weight: bold;
	text-decoration: underline;
}

#techreport > h3, 
#techreport > h4 {
	text-decoration: underline;
}

/*everything that makes the navbar look good*/
.navbar-inverse {
	background-color: #006400;
	border-color: #009900;
	border-radius: 0;
	margin-bottom: 0;
}
.navbar-inverse .navbar-brand {
	color: #f2f2f2;
	font-family: monospace;
}
.navbar-inverse .navbar-brand:hover,
.navbar-inverse .navbar-brand:focus {
	color: #cccccc;
}
.navbar-inverse .navbar-text {
	color: #f2f2f2;
	font-family: monospace;
}
.navbar-inverse .navbar-nav > li > a {
	color: #f2f2f2;
	font-family: monospace;
}
.navbar-inverse .navbar-nav > li > a:hover,
.navbar-inverse .navbar-nav > li > a:focus {
	color: #cccccc;
	background-color: #008000;
}
.navbar-inverse .navbar-nav > li > .dropdown-menu {
	background-color: #006400;
}
.navbar-inverse .navbar-nav > li > .dropdown-menu > li > a {
	color: #f2f2f2;
}
.navbar-inverse .navbar-nav > li > .dropdown-menu > li > a:hover,
.navbar-inverse .navbar-nav > li > .dropdown-menu > li > a:focus {
	color: #cccccc;
	background-color: #009900;
}
.navbar-inverse .navbar-nav > li > .dropdown-menu > li > .divider {
	background-color: #009900;
}
.navbar-inverse .navbar-nav .open .dropdown-menu > .active > a,
.navbar-inverse .navbar-nav .open .dropdown-menu > .active > a:hover,
.navbar-inverse .navbar-nav .open .dropdown-menu > .active > a:focus {
	color: #cccccc;
	background-color: #009900;
}
.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus {
	color: #cccccc;
	background-color: #009900;
}
.navbar-inverse .navbar-nav > .open > a,
.navbar-inverse .navbar-nav > .open > a:hover,
.navbar-inverse .navbar-nav > .open > a:focus {
	color: #cccccc;
	background-color: #009900;
}
.navbar-inverse .navbar-toggle {
	border-color: #009900;
}
.navbar-inverse .navbar-toggle:hover,
.navbar-inverse .navbar-toggle:focus {
	background-color: #009900;
}
.navbar-inverse .navbar-toggle .icon-bar {
	background-color: #f2f2f2;
}
.navbar-inverse .navbar-collapse,
.navbar-inverse .navbar-form {
	border-color: #f2f2f2;
	font-family: sans-serif;
}
.navbar-inverse .navbar-link {
	color: #f2f2f2;
}
.navbar-inverse .navbar-link:hover {
	color: #cccccc;
}

@media (max-width: 767px) {
	.navbar-inverse .navbar-nav .open .dropdown-menu > li > a {
		color: #f2f2f2;
	}
	.navbar-inverse .navbar-nav .open .dropdown-menu > li > a:hover,
	.navbar-inverse .navbar-nav .open .dropdown-menu > li > a:focus {
		color: #cccccc;
	}
	.navbar-inverse .navbar-nav .open .dropdown-menu > .active > a,
	.navbar-inverse .navbar-nav .open .dropdown-menu > .active > a:hover,
	.navbar-inverse .navbar-nav .open .dropdown-menu > .active > a:focus {
		color: #cccccc;
		background-color: #009900;
	}
}