<!DOCTYPE html>
<html lang="en">
	<head>
		<title>About - SWE-Readers</title>
		<meta charset="utf-8">

		<!-- pulling Bootstrap from CDN -->
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

		<!-- CSS Stylesheet -->
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/swe-readers-stylesheet.css') }}">
	</head>
	<body>
		<nav class="navbar navbar-inverse">
			<div class="container-fluid">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
						<span class="glyphicon glyphicon-book white"></span>
					</button>
					<a class="navbar-brand" href="{{ url_for('home') }}">SWE-Readers</a>
				</div>
				<div class="collapse navbar-collapse" id="myNavbar">
					<ul class="nav navbar-nav">
						<li><a href="{{ url_for('books') }}">Books</a></li>
						<li><a href="{{ url_for('authors') }}">Authors</a></li>
						<li><a href="{{ url_for('publishers') }}">Publishers</a></li>
						<li><a href="{{ url_for('reviews') }}">Reviews</a></li>
						<li class="active"><a href="{{ url_for('about') }}">About</a></li>
					</ul>
					<form class="navbar-form navbar-right" action="{{ url_for('search') }}">
						<div class="input-group">
							<input type="text" class="form-control" placeholder="Search">
							<div class="input-group-btn">
								<button class="btn btn-default" type="submit">
									<i class="glyphicon glyphicon-search"></i>
								</button>
							</div>
						</div>
					</form>
				</div>
			</div>
		</nav>

        <div class="container">
			<div class="row">
				<div class="col-xs-4">
					<div class="card-deck">
		  				<div class="card">
		    				<img class="card-img-top" src="{{ url_for('static', filename='img/about/icon-laura.jpg') }}" alt="Card image cap" height= "240" width= "240">
		    				<div class="card-block">
		      					<h4 class="card-title">Laura Catano</h4>
		      					<p class="card-text">Bio: I'm a third year CS student. I play Overwatch and like working with 3d computer graphics</p>
		      					<p class="card-text">Responsibilites: Made this about page, uml doc, worked on the technical report</p>
		      					<p class="card-text">Commits: 3</p>
		      					<p class="card-text">Issues: 2</p>
		      					<p class="card-text">Unit Tests:0</p>
		    				</div>
		  				</div>
		  			</div>	
				</div>

        
				<div class="col-xs-4">
					<div class="card-deck">
		  				<div class="card">
		    				<img class="card-img-top" src="{{ url_for('static', filename='img/about/Conner.jpg') }}" alt="Card image cap" height= "240" width= "240">

		    				<div class="card-block">
		      					<h4 class="card-title">Conner Newman</h4>
		      					<p class="card-text">Bio: I'm a second year CS student. My favorite programming languages are Python, Java, and C++. I like reading and watching TV, and playing video games</p>
		      					<p class="card-text">Responsibilites: Flask and Alchemy backend Integration</p>
		      					<p class="card-text">Commits: 10</p>
		      					<p class="card-text">Issues: 15</p>
		      					<p class="card-text">Unit Tests:4</p>
		    				</div>
		  				</div>
		  			</div>	
				</div>
			</div> 	
            
            <div class="row">    
				<div class="col-xs-4">
					<div class="card-deck">
		  				<div class="card">
		    				<img class="card-img-top" src="{{ url_for('static', filename='img/about/nando.jpg') }}" alt="Card image cap" height= "240" width= "240">
		    				<div class="card-block">
		      					<h4 class="card-title">Fernando Mendoza</h4>
		      					<p class="card-text">Bio: I'm a senior CS student at the Univerity of Texas at Austin. I play and record my own music</p>
		      					<p class="card-text">Responsibilites: Backend, Webmaster</p>
		      					<p class="card-text">Commits: 45</p>
		      					<p class="card-text">Issues: 0</p>
		      					<p class="card-text">Unit Tests:6</p>
		    				</div>
		  				</div>
		  			</div>	
				</div>

				<div class="col-xs-4">
					<div class="card-deck">
		  				<div class="card">
		    				<img class="card-img-top" src="{{ url_for('static', filename='img/about/Dylan.jpg') }}" alt="Card image cap" height= "240" width= "240">

		    				<div class="card-block">
		      					<h4 class="card-title">Dylan Droll</h4>
		      					<p class="card-text">Bio: I'm Dylan Droll and I approve this message. One day I want to own a corgi ranch and write stories. I'm a junior CS major</p>
		      					<p class="card-text">Responsibilites: GUI, Web Design</p>
		      					<p class="card-text">Commits: 30</p>
		      					<p class="card-text">Issues: 0</p>
		      					<p class="card-text">Unit Tests:0</p>
		    				</div>
		  				</div>
		  			</div>	
				</div>
			</div> 		
				
		</div>

		<div class="container">
			<div class="row">
		        <div class="col-md-6">
		        	<div class="card-deck">
						<div class="card">
								<h2 class="title">Stats</h4>
							    	<p class="text">Total Commits: 78</p>
							    	<p class="text">Total Issues: 15</p>
							    	<p class="text">Total Unit Tests: 10</p>
							    	<p class="text">Apiary URL:
							    		<a href="http://docs.swereaders1.apiary.io">http://docs.swereaders1.apiary.io</a>
							    	</p>
							      	<p class="text">Github Issue Tracker:
							      		<a href="https://github.com/DasNando/idb/issues">https://github.com/DasNando/idb/issues</a>
							      	</p>
							      	<p class="text">Github Repo:
							      		<a href="https://github.com/DasNando/idb">https://github.com/DasNando/idb</a>
							      	</p>
						</div>
					</div>	
				</div>
			</div>
		</div>		

		<div class="container">
			<div class="row">
		        <div class="col-md-6">
		        	<div class="card-deck">
						<div class="data">
							<h2 class="title">Data Sources</h4>
		      					<p class="text">
		      						<a href="https://openlibrary.org/developers/api">OpenLibrary</a>
		      					</p>
		      					<p class="text">
		      						<a href="http://www.goodreads.com/api">Goodreads</a>
		      					</p>
		      					<p class="text">
		      						<a href="https://developers.google.com/books/docs/v1/using">Google Books</a>
		      					</p>	
						</div>
					</div>	
				</div>
			</div>
		</div>	

		<div class="container">
			<div class="row">
		        <div class="col-md-6">
		        	<div class="card-deck">
						<div class="report">
							<h2 class="title">Technical Report</h2>
					      		<p class="text">
					      			<h3 class="card-title">Introduction</h3>
					      				<p class="text">Our project is a database of books, publishers, authors, and book reviews to be built from data scraped from various available web APIs on this subject (Google Books, OpenLibrary, GoodReads). Our database is simply an alternative to those services and is intended for use by anyone who may find such a catalog of book related information to be useful, i.e libraries, students shopping for textbooks, bookstores, or people who would like to get book recommendations based on genres and authors they may like. 
					      				</p>
					      			<h3 class="card-title">Design</h3>
					      				<h4 class="card-title">RESTful API</h4>
					      				<p class="text">Our RESTful API (unimplemented as of now) will allow others to scrape our database for the information we have collected. At the moment, our API will allow you to filter the database by search terms such as book name, author name, publishing date, etc. It will also allow you to pull all information on a given specific book. Once the database is fully implemented, we will expand the API documentation to denote the JSON and other output which will be returned from queries to the API.</p>
					      				<h4 class="card-title">Models</h4>
					      				<p class="text">The models each have a number of sub-attributes as follows:</p>	

					      				<img class="img" src="{{ url_for('static', filename='img/about/IDB.png') }}" alt="img" height= "258" width= "854">
					      				<p class="text">Each model is supported by a SQLAlchemy table which holds all of that model's data. The table stores all of the data for that model with each column of the table representing one attribute of the model. Currently, the 'book' model has title as its primary key, while 'author', 'review', and 'publisher' each have the 'name' attribute as their primary key.</p>
					      				<p class="text">Each model has links to other models. Each book is linked, via one-to-one linkings, with its author and its publisher, and with a one-to-many with reviews of that book. Each author has a one-to-many relationship with that author's books and a one-to-one relationship with that author's publisher. Publishers have a one-to-many relationship with authors and with books. Lastly, Reviews have one-to-one relationships with both authors and books.
										</p>
					      				<p class="text">Each model is represented by a seperate class, all of which extend the db.Model class. Upon instantiation, each model's __init__ method checks, via the use of assert statements, that any string data members have been set to values with positive length, as well as ensuring that reviews and prices are given as non-negative numbers. This is done to ensure the validity of any new data members that are created.
										</p>
										<h4 class="card-title">Backend</h4>
										<p class="text">
										To serve our webpages, we are using the Flask Python web framework. Flask allows us to render HTML templates and use Python to apply logic to the rendering and change the website accordingly. As of now, the system we are using is used primarily to keep track of all static files, such as stylesheets and images, and apply them properly to the html pages. As the project develops, we'd like to reduce the number of page templates and increase the amount of media that we maintain. Currently, the Flask framework is not serving any static images, as they are being pulled from the web. Eventually, we would like to add some images such as a logo or a static carousel.</p>
										<h4 class="card-title">Media Embedding Services</h4>
					      				<p class="text">As of now, we have not used any media embedding services, but we plan on eventually embedding verbose links to reviews via GoodReads. This means including some small portion of a larger review or set of reviews and attaching them to each Book, Author, and Publisher. The implementation of this and which service we will use is yet to be determined. We are also considering using a dynamic embedding service to update our carousel according to changes in popularity, or simply to randomize the images posted.
</p>
					      				<p class="text">Flask</p>

					      			<h3 class="card-title">Tools</h3>
					      			<p class="text">Our site's front-end is made with HTML and Bootstrap. Right now, it's simply a splash page (with a carousel and tables of books), pages (containing grids corresponding to each of our four models), and a currently non-functioning search bar. We plan to use React/Javascript to improve the look and navigability of our site in later phases. We also plan to replace our dummy data, currently hard coded into the page, with real data from our database.</p>

					      			<p class="text">Our site's back-end is made with Flask and Python. We have implemented four models: Book, Author, Publisher and Review. (Include image in idb.pdf here) Each containing relevant information and links to other models. This will allow users to search based on specific attributes and be linked to related books, publishers, authors or reviews from the pages they view.
</p>
					      			<p class="text">Our team communicates using Slack. Slack allows us to create group channels, each with a particular purpose, such as development or random chat. This allows free communication between teammates while maintaining structure, such that no thread ever goes off topic. Slack also allows us to use the Github integration plugin, which keeps team members up to date with commits and pushes made to the joint Github repository. This allows all team members to receive the same information and reduces confusion among group members.
</p>
					      			<p class="text">For this project's deployment testing, we are using TravisCI. TravisCI allows us to automate the running of unit tests on each push to the group Github repository. These tests allow the team to ensure that changes made are not unknowingly interfering with other sections of the project, minimizing the amount aof site-crashing bugs that make it to live. The unit tests will largely consist of tests on the output of queries to the database/API. As of now, there is little to run on Travis, but as the project develops, the amount of tests run by Travis should increase.</p>	
					      			
					      			<h3 class="card-title">Hosting</h3>
					      			<p class="text">Our website is hosted on Google Cloud Platform's App Engine. Google Cloud Platform allows us to maintain source code on Google's servers and sync with Github in order to streamline updates to the website. As of now, our App Engine only hosts a single machine which, using the Flask Python web framework, serves the html templates of the website and applies static files such as CSS files and images. Our website's error logs are also maintained by Google, and include logs of all requests made to the website, filterable by severity of the request(ie. No Error, Warning, Notice, etc.)</p>
					      				


					      		</p>
						</div>	
					</div>	
				</div>
			</div>
		</div>		

	</body>
	<footer>
		<h6><small>A UTCS Student Project. CS373 Software Engineering, Project Group 15.</small></h6>
	</footer>
</html>