<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Publishers - SWE-Readers</title>
		<meta charset="utf-8">

		<!-- pulling Bootstrap from CDN -->
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

		<!-- CSS Stylesheet -->
		<link rel="stylesheet" type="text/css" href="swe-readers-stylesheet.css">
	</head>
	<body>
		<nav class="navbar navbar-inverse">
			<div class="container-fluid">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
						<span class="glyphicon glyphicon-book white"></span>
					</button>
					<a class="navbar-brand" href="home.html">SWE-Readers</a>
				</div>
				<div class="collapse navbar-collapse" id="myNavbar">
					<ul class="nav navbar-nav">
						<li><a href="books.html">Books</a></li>
						<li><a href="authors.html">Authors</a></li>
						<li class="active"><a href="publishers.html">Publishers</a></li>
						<li><a href="reviews.html">Reviews</a></li>
						<li><a href="about.html">About</a></li>
					</ul>
					<form class="navbar-form navbar-right" action="search.html">
						<div class="input-group">
							<input type="text" class="form-control" placeholder="Search">
							<div class="input-group-btn">
								<button class="btn btn-default" type="submit">
									<i class="glyphicon glyphicon-search"></i>
								</button>
							</div>
						</div>
					</form>
				</div>
			</div>
		</nav>
		<div class="container">
			<h1>Browsing Publishers</h1>
			<h4>
				This page contains a complete list of all the publishers in our entire database.
			</h4>
		</div>
		<div>
			<div class="row">
				<div class="col-sm-10 col-sm-offset-1">
					<div class="table-responsive">
						<table class="table table-hover">
							<thead>
								<tr>
									<th>Name</th>
									<th>Year Founded</th>
									<th>Country of Origin</th>
									<th>Headquarters</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>Tor Books</td>
									<td>1980</td>
									<td>United States</td>
									<td>New York City</td>
								</tr>
								<tr>
									<td>Dell Publishing</td>
									<td>1921</td>
									<td>United States</td>
									<td>New York City</td>
								</tr>
								<tr>
									<td>Charles Scribner's Sons</td>
									<td>1846</td>
									<td>United States</td>
									<td>New York City</td>
								</tr>
								<tr>
									<td>Harper Collins</td>
									<td>1989</td>
									<td>United Kingdom, United States</td>
									<td>New York City</td>
								</tr>
								<tr>
									<td>Macmillian</td>
									<td>1843</td>
									<td>United Kingdom</td>
									<td>London</td>
								</tr>
								<tr>
									<td>W. W. Norton and Company</td>
									<td>1923</td>
									<td>United States</td>
									<td>New York City</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</body>
	<footer>
		<h6><small>A UTCS Student Project. CS373 Software Engineering, Project Group 15.</small></h6>
	</footer>
</html>