<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Reviews - SWE-Readers</title>
		<meta charset="utf-8">

		<!-- pulling Bootstrap from CDN -->
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

		<!-- CSS Stylesheet -->
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/swe-readers-stylesheet.css') }}">
	</head>
	<body>
		<nav class="navbar navbar-inverse">
			<div class="container-fluid">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
						<span class="glyphicon glyphicon-book white"></span>
					</button>
					<a class="navbar-brand" href="{{ url_for('home') }}">SWE-Readers</a>
				</div>
				<div class="collapse navbar-collapse" id="myNavbar">
					<ul class="nav navbar-nav">
						<li><a href="{{ url_for('books') }}">Books</a></li>
						<li><a href="{{ url_for('authors') }}">Authors</a></li>
						<li><a href="{{ url_for('publishers') }}">Publishers</a></li>
						<li class="active"><a href="{{ url_for('reviews') }}">Reviews</a></li>
						<li><a href="{{ url_for('about') }}">About</a></li>
					</ul>
					<form class="navbar-form navbar-right" action="search.html">
						<div class="input-group">
							<input type="text" class="form-control" placeholder="Search">
							<div class="input-group-btn">
								<button class="btn btn-default" type="submit">
									<i class="glyphicon glyphicon-search"></i>
								</button>
							</div>
						</div>
					</form>
				</div>
			</div>
		</nav>
		<div class="container">
			<h1>Browsing Reviews</h1>
			<h4>
				This page contains a complete list of all the reviews in our entire database.
			</h4>
		</div>
		<div class="container">
			<div class="row">
				<div class="col-sm-8">
					<div>
						<form action="search.html">
							<div class="input-group">
								<input type="text" class="form-control" placeholder="Filter Reviews">
								<div class="input-group-btn">
									<button class="btn btn-default" type="submit">
										<i class="glyphicon glyphicon-search"></i>
									</button>
								</div>
							</div>
						</form>
					</div>
				</div>
				<div class="col-sm-4">
					<div class="dropdown">
						<button id="sortbtn" class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Sort by
						<span class="caret"></span></button>
						<ul class="dropdown-menu">
							<li><a href="#">Reviewer</a></li>
							<li><a href="#">Book</a></li>
							<li><a href="#">Author</a></li>
							<li><a href="#">Rating</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<br>
		<div class="container">
			<div class="row">
				<div class="col-sm-4">
					<div class="card">
						<div class="card-block">
							<img class="card-img-top img-responsive" src="http://i.imgur.com/rwTmWZl.jpg" alt="reviewrprofilepic" position="center">
							<h4 class="card-title"><strong>DefinitelyNotTrump says:</Strong></h4>
							<p class="card-text"><u>Book:</u>The Constitution</p>
							<p class="card-text"><u>Author:</u>Dead Presidents and others</p>
							<p class="card-text"><u>Review Summary:</u>This book is fake news. Sad!</p>
							<p class="card-text"><u>Rating:</u>0/5</p>
							<p class="card-text"><u>Source:</u> whitehouse.gov</p>
						</div>
					</div>
				</div>
				<div class="col-sm-4">
					<div class="card">
						<div class="card-block">
							<img class="card-img-top img-responsive" src="http://i.imgur.com/rwTmWZl.jpg" alt="reviewrprofilepic" position="center">
							<h4 class="card-title"><strong>DefinitelyNotTrump says:</strong></h4>
							<p class="card-text"><u>Book:</u>The Constitution</p>
							<p class="card-text"><u>Author:</u>Dead Presidents and others</p>
							<p class="card-text"><u>Review Summary:</u>This book is fake news. Sad!</p>
							<p class="card-text"><u>Rating:</u>0/5</p>
							<p class="card-text"><u>Source:</u> whitehouse.gov</p>
						</div>
					</div>
				</div>
				<div class="col-sm-4">
					<div class="card">
						<div class="card-block">
							<img class="card-img-top img-responsive" src="http://i.imgur.com/rwTmWZl.jpg" alt="reviewrprofilepic" position="center">
							<h4 class="card-title"><Strong>DefinitelyNotTrump says:</strong></h4>
							<p class="card-text"><u>Book:</u>The Constitution</p>
							<p class="card-text"><u>Author:</u>Dead Presidents and others</p>
							<p class="card-text"><u>Review Summary:</u>This book is fake news. Sad!</p>
							<p class="card-text"><u>Rating:</u>0/5</p>
							<p class="card-text"><u>Source:</u> whitehouse.gov</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</body>
	<footer>
		<h6><small>A UTCS Student Project. CS373 Software Engineering, Project Group 15.</small></h6>
	</footer>
</html>